@font-face {
    font-family: 'Akzidenz-Grotesk Pro Regular';
    src: url('../fonts/AkzidenzGroteskPro-Regular.eot');
    src: url('../fonts/AkzidenzGroteskPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AkzidenzGroteskPro-Regular.woff') format('woff'),
    url('../fonts/AkzidenzGroteskPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}